body {
	font-family: 'Roboto', sans-serif!important;
}

h1 {
	color: #fff!important;
	margin-top: 0!important;
	font-family: 'Raleway', sans-serif!important;
}

.table {
	border: 1px solid #eceeef;
}

#container {
	padding: 30px 0;
}

.page-header {
	padding: 20px 0!important;
}

.center {
	text-align: center;
}
.btn.btn-default {
	background: none;
	padding: 0;
	color: blue;
	text-decoration: underline;
	font-size: 12px;
}

.btn.btn-default:hover {
	/*background-color: #ff0;*/
	text-decoration: underline;
}

.deck-list {
	/*height: 300px;*/
}

.deck-list li {
	/*display: inline-block;*/
	font-size: 0.8em;
}

.deck-list li label {
	margin: 0;
}

.curve-container {
	width: 300px;
	margin: 0 auto;
}

.curve-diagram {
	/*height: 200px;
	max-height: 200px;
	width: 300px;
	margin: 20px auto;
	overflow: hidden;
	background-color: #2F972F;*/
	margin-top: 30px;
}

.curve-diagram .col-xs-2 {
	position: relative;
	height: 100%;
	border: 1px solid;
	/*padding: 0 40px;*/
	background-color: #2F972F;
}
/*D5A458*/
.cost-1 { transition: all 0.5s ease; position: absolute; left: 50%; margin-left: -25%; bottom: 0; background-color:#E5E500; width: 50%; height: 20px; }
.cost-2 { transition: all 0.5s ease; position: absolute; left: 50%; margin-left: -25%; bottom: 0; background-color:#E5E500; width: 50%; height: 50px; }
.cost-3 { transition: all 0.5s ease; position: absolute; left: 50%; margin-left: -25%; bottom: 0; background-color:#E5E500; width: 50%; height: 45px; }
.cost-4 { transition: all 0.5s ease; position: absolute; left: 50%; margin-left: -25%; bottom: 0; background-color:#E5E500; width: 50%; height: 60px; }
.cost-5 { transition: all 0.5s ease; position: absolute; left: 50%; margin-left: -25%; bottom: 0; background-color:#E5E500; width: 50%; height: 90px; }

.prob-calc-form .input-group {
	margin-bottom: 20px;
}

/*.prob-calc-form .input-group > .input-group-addon, */
.prob-calc-form .input-group > .input-group-btn .btn {
	width: 100%;
	/*width: 100px;
	max-width: 100px;*/
}
.prob-calc-form .input-group .input-group-addon.percent {
	background-color: transparent;
	/*border-color: transparent;*/
	border-spacing: 5px;
	border-style: dashed;
	font-size: 1.3em;
	font-weight: bold;
}
.btn-calc-res {
	border-radius: 4px!important;
}

/*Imported Classes*/
.page-header {
	background-color: #000;
	margin-top: 0!important;
}

