/* Font Icons */
@font-face{
font-family:fiveringsdb;
src:url(../static/fonts/fiveringsdb.40010fe.eot);
src:url(../static/fonts/fiveringsdb.40010fe.eot#iefix) format("embedded-opentype"),
    url(../static/fonts/fiveringsdb.03ae900.ttf) format("truetype"),
    url(../static/fonts/fiveringsdb.a541c33.woff) format("woff"),
    url(../static/img/fiveringsdb.c5a64c2.svg#fiveringsdb) format("svg");

font-weight:400;
font-style:normal
}
/*[class*=" icon-"],[class^=icon-]{font-family:fiveringsdb!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}*/
.icon-clan-neutral:after{content:"\E90F";font-family:fiveringsdb!important;color:#646464;padding-left: 10px;}.icon-clan-crab:after{content:"\E907";font-family:fiveringsdb!important;color:#001c94;padding-left: 10px;}.icon-clan-crane:after{content:"\E908";font-family:fiveringsdb!important;color:#0089de;padding-left: 10px;}.icon-clan-dragon:after{content:"\E909";font-family:fiveringsdb!important;color:#00a472;padding-left: 10px;}.icon-clan-lion:after{content:"\E90A";font-family:fiveringsdb!important;color:#cb9d00;padding-left: 10px;}.icon-clan-phoenix:after{content:"\E90B";font-family:fiveringsdb!important;color:#c16400;padding-left: 10px;}.icon-clan-scorpion:after{content:"\E90C";font-family:fiveringsdb!important;color:#a61600;padding-left: 10px;}.icon-clan-unicorn:after{content:"\E90D";font-family:fiveringsdb!important;color:#780098;padding-left: 10px;}
/*.fg-dark-crab{color:#001c94}.fg-dark-crane{color:#0089de}.fg-dark-dragon{color:#00a472}.fg-dark-lion{color:#cb9d00}.fg-dark-phoenix{color:#c16400}.fg-dark-scorpion{color:#a61600}.fg-dark-unicorn{color:#780098}.fg-dark-neutral{color:#646464}*/

body {
	font-family: 'Roboto', sans-serif!important;
}

h1 {
	color: #fff!important;
	margin-top: 0!important;
	font-family: 'Raleway', sans-serif!important;
}

.table {
	border: 1px solid #eceeef;
}

#container {
	padding: 30px 0;
}

.page-header {
	padding: 20px 0!important;
}

.center {
	text-align: center;
}
.btn.btn-default {
	background: none;
	padding: 0;
	color: blue;
	text-decoration: underline;
	font-size: 12px;
}

.btn.btn-default:hover {
	/*background-color: #ff0;*/
	text-decoration: underline;
}

.deck-list {
	/*height: 300px;*/
}

.deck-list li {
	/*display: inline-block;*/
	font-size: 0.8em;
}

.deck-list li label {
	margin: 0;
}

.curve-container {
	width: 300px;
	margin: 0 auto;
}

.curve-diagram {
	margin-top: 30px;
}

.curve-diagram .col-xs-2 {
	position: relative;
	height: 100%;
	border: 1px solid;
	background-color: #2F972F;
}

.prob-calc-form .input-group {
	margin-bottom: 20px;
}


.prob-calc-form .input-group > .input-group-btn .btn {
	width: 100%;
}
.prob-calc-form .input-group .input-group-addon.percent {
	background-color: transparent;
	border-spacing: 5px;
	border-style: dashed;
	font-size: 1.3em;
	font-weight: bold;
}
.btn-calc-res {
	border-radius: 4px!important;
}

/*Imported Classes*/
.page-header {
	background-color: #000;
	margin-top: 0!important;
}
.panel-title {
	text-transform: capitalize;
}

